<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="booking">
    <meta name="author" content="Darragh Enright">

    <title>Booking</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-4">
          <img class="img-responsive"
               src="<%= static_path(@conn, "/images/locate_yourself_logo.jpg")%>"
               alt="Locate Yourself">
        </div>
        <div class="col-md-8 col-xs-8">
          <p>The 3 channel HD video installation of <strong>They tore the earth and, like a scar, it swallowed them</strong> expands the LP of the same name <a href="http://www.recordedfields.net/records/rfe_02/" target="_blank">released on Recorded Fields Editions</a> in 2014.</p>
          <p>The surround HD video installation places the viewer at the heart of negotiating and traversing a colonial landscape, its vast and treacherous beauty, with only an insinuation of characters and tragic consequences for all involved.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/114122030?autoplay=0&title=0&byline=0&portrait=0"
                    frameborder="0"
                    webkitAllowFullScreen
                    mozallowfullscreen
                    allowFullScreen></iframe>
          </div>
        </div>
      </div>
      <main role="main">
        <div class="alert alert-warning lead">
          <p>
          This 3-channel video piece is in a custom built viewing room that accommodates a maximum of 3 people per 20 minute viewing. You must arrive at the gallery at least 20 minutes before your booking.   Late-comers cannot be admitted.</p>
          <p>
          Wheelchair accessible. Children under the age of 8 must be accompanied by an adult in the exhibition. Enclosed spaces warning for those susceptible to claustrophobia.
          </p>
        </div>
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">
          <a target="_blank" href="http://recordedfields.net/robert-curgenven/">
            recordedfields.net
          </a> |
          <a target="_blank" href="https://twitter.com/robertcurgenven">
            @robertcurgenven
          </a> |
          <a target="_blank" href="https://merchkitty.com/">
            merchkitty.com
          </a> |
          <a target="_blank" href="https://twitter.com/merckitty">
            @merchkitty
          </a>
        </p>
      </div>
    </footer>
  </body>
</html>
